body{
	background-image: url(subtle_white_mini_waves.png);
	font-family: helvetica;
}

															/* Banner */

.banner{
	width: 100%;
}

.img1, .img2, .img3{
	width: 100%;
	display: none;
	box-shadow: 0 0 3em #888888;

}

.zichtbaar{
	display: inline-block;
}
										
															/* Navigatie */
nav{
	margin: 2% auto 2% auto;
	text-align: center;
	font-size: 1.3em;
}

	li{
		display: inline;
		text-decoration: none;
		margin: 0 2% 0 2%;
		position:relative;

	}

	.nav-item a {
		text-decoration:none;
		text-align: center;
		color:black;
		/*background-color:rgba(18,18,18,0.5);*/
		padding: 1.5%;
		border-radius: 50%;
	}

		.nav-item a img{
			width: 8%;
		}
 

.nav-item:hover .nav-submenu {
	display:block;
}

.nav-submenu {
	display:none;
	position:absolute;
}

.nav-submenu-item a {
	background:;
	display:block;
	margin:0;
	border-radius: 0;

}

.nav-submenu-item a img{
	width: 50%
}

.nav-submenu-item:hover a img{
	width: 60%;
}
															/* main menu */
 .achtergrond{
 	 	background-color: rgba(235, 245, 200, 0.7);
 }

 .text{
 	color:rgb(107,65,9);
 	overflow: auto;
 	clear: both;
 }

h1{
	font-size: 2em;
 	padding: 3% 10% 3% 10%;
 	margin:auto;
 	text-align: center;
}

.alinea_1{
	text-align: left;
 	overflow: auto;
 	float: left;
 	clear: both;
 	width: 50%;
 	margin: 10% 2% 2% 2%;
 	padding: 1%;
}

.Yoga_Tanja_Nica{
	width: 30%;
	overflow: auto;
	float: right;
	margin: 2%;
}

h2{
	font-size: 1.5em;
	padding-bottom: 8%
}

.cat_1{
	width: 16%;
	float: left;
	overflow: auto;
	clear: both;
	margin: 2% 5% 2% 10%;
	padding: 2%;
	background-color:#FFF4AE;
}

.cat_2{
	width: 16%;
	float: left;
	overflow: auto;
	margin: 2% 5% 2% 5%;
	padding: 2%;
	background-color:#FFF4AE;
}

.cat_3{
	width: 16%;
	float: left;
	overflow: auto;
	margin: 2% 10% 2% 5%;
	padding: 2%;
	background-color:#FFF4AE;
}

.link_bottom{
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 5%;
}

															/* facebook */
.fb img{
	width: 10%;
	margin-top: 2%;
	float: right;
	margin-right: 15%
}


															/* instagram */
.instagram img{
	display: none;
	width: 10%;
	margin-top: 2%;
	float: right;
	margin-right: 2%
}





															/* footer */


.rights{
	clear: both;
	height: 3%;
	margin-bottom: 0;
	margin-top: 10%;
	font-size: 0.5em;
	padding-left: 3%;
	padding-bottom: 2%;
}

